:root {
    --background: rgb(39, 39, 39);
    --font-color: whitesmoke;
    font-size: 20px;
    --result-color: rgb(14, 241, 14);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    font-family: 'Bad Script';
    align-items: center;
    color: var(--font-color);
    gap: 32px;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 64px;

    > .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 64px;
        border-right: 2px solid rgba(192, 192, 192, 0.484);

        fieldset {
            border-radius: 16px;
        }

        input {
            background-color: var(--background);
            color: var(--font-color);
            border-radius: 32px;
            font-size: 1.2rem;
            font-family: 'Bad Script';
        }
    
        label {
            font-size: 1.5rem;
        }
    
        button {
            background-color: var(--background);
            border: none;
            padding: none;
            margin: none;
            font-size: 1.5rem;
            color: whitesmoke;
            font-family: 'Bad Script';
        }
    
        svg {
            -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
            width: 2.5rem;
            height: auto;
            transform: translateY(13px);
        }
        ul {
            list-style: none;
        }
    }

    > .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        > .turn {
            font-size: 1.5rem;
        }

        > .result {
            font-weight: 900;
            font-size: 2rem;
            color: var(--result-color);
            animation: neon 1.5s ease-in-out infinite;
            text-shadow: 0 0 10px var(--result-color), 0 0 20px var(--result-color), 0 0 30px var(--result-color), 0 0 40px var(--result-color);

        }
    }
}

@keyframes neon {
    0% {
        text-shadow: 0 0 10px var(--result-color), 0 0 20px var(--result-color), 0 0 30px var(--result-color), 0 0 40px var(--result-color);
    }
    50% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 10px var(--result-color), 0 0 20px var(--result-color), 0 0 30px var(--result-color), 0 0 40px var(--result-color);
    }
}

h2 {
    margin: 0;
    padding: 0;

}

.board {
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    place-content: center;
    gap: 8px;
    background-color: var(--font-color);

    button {
        background-color: var(--background);
        border: none;
        box-sizing: border-box;
        // padding: 4px;
    }

    button > svg {
        width: 80%;
        height: auto;
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
        filter: invert(100%);
    }
}

.board > .drop {
    svg {
        animation-name: dropAnimation;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
    }
}

@keyframes dropAnimation {
    from {
      transform: translateY(-20px); /* Start position, lifted by 10px */
      opacity: 0; /* Start with opacity 0 for a fade-in effect */
    }
    to {
      transform: translateY(0); /* End position, no vertical translation */
      opacity: 1; /* Fully visible at the end */
    }
  }

.turn, .result {
    font-size: 1.5rem;
}